@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Bree+Serif&family=Libre+Franklin:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #fafafa;
}

.nav {
  width: 100%;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav ul .nombre {
  color: #6a49e4;
  text-align: center;
  line-height: 30px;
}

.nav ul .nombre p {
  font-size: 20px;
  font-family: 'roboto';
  font-weight: 200;
  letter-spacing: 5px;
}

.nav ul .nombre h2 {
  font-family: "Aleo", serif;
  font-size: 30px;
  font-weight: 400;
}

.nav ul .active {
  border-top: 10px solid #b5a4f4;
}

.nav ul li {
  height: 100%;
  padding: 31px;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #353535;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.ContenedorNavbarIndex nav {
  position: absolute;
  z-index: 1;
}

.ContenedorNavbarIndex nav ul li a {
  color: white;
}

.ContenedorNavbarIndex nav ul li h2 {
  color: white;
}

.ContenedorNavbarIndex nav ul li p {
  color: white;
}

.img100 {
  width: 100%;
  height: 120vh;
  position: relative;
}

.contenedorIntro {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.tituloIndex {
  font-family: "Libre Franklin", sans-serif;
  color: #fff;
  font-size: 2rem;
  margin-left: 10%;
  margin-bottom: 5%;
}

.subtituloIndex {
  font-family: "Libre Franklin", sans-serif;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 3.8rem;
  font-weight: 600;
  margin-left: 10%;
}

.mrgB {
  margin-top: 15%;
}

.contenedorHeaderIndex {
  margin: 0 15%;
}

.tituloHeaderIndex {
  font-family: "Aleo", serif;
  font-size: 1.7rem;
  text-align: center;
  color: #6a49e4;
  margin-top: 10%;
}

.subtituloHeaderIndex {
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2%;
}

.contenedorListaHeaderIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.imgHeaderIndex {
  width: 30%;
}

.listaHeaderIndex div {
  margin: 5% 15% 5% 0%;
  font-family: "Libre Franklin", sans-serif;
}

.contenedorCarrusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgChica {
  width: 55%;
}

.imgGrande {
  width: 70%;
}

.flechaCarrusel {
  font-size: 3rem;
  color: #b5a4f4;
  margin: 0 5%;
}

.headerServicios {
  width: 100%;
  min-height: 95vh;
  background-image: url(../img/headerServicios.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerServicios .tituloHeaderServicios {
  text-align: center;
  z-index: 1;
}

.headerServicios .tituloHeaderServicios h1, .headerServicios .tituloHeaderServicios h2 {
  color: #fafafa;
  left: 50%;
  top: 50%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 3.2em;
}

.headerServicios .tituloHeaderServicios h2 {
  font-size: 2em;
}

.headerServicios .botonHeaderServicios {
  z-index: 1;
  cursor: pointer;
  width: 15%;
  margin-top: 50px;
  padding: 1%;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid #fafafa 3px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #fafafa;
  text-align: center;
  text-decoration: none;
}

.headerServicios .botonHeaderServicios:hover {
  color: #6a49e4;
  border: solid #6a49e4 3px;
}

.headerServicios:before {
  content: '';
  width: 100%;
  min-height: 95vh;
  position: absolute;
  background: black;
  opacity: .3;
}

.iconosServicios {
  width: 60%;
  margin: 0 auto 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.iconosServicios .divIcn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.iconosServicios .divIcn img, .iconosServicios .divIcn h4 {
  margin: 10px auto;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.iconosServicios .divIcn h4 {
  width: 150px;
}

.iconosServicios .icnDiv {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.contenedorCardServicios {
  margin: 5% auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorCardServicios .cardServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorCardServicios .cardServicios .img-card {
  width: 50%;
  padding: 2.5%;
}

.contenedorCardServicios .cardServicios .img-card img {
  width: 100%;
}

.contenedorCardServicios .cardServicios .contenido-card {
  width: 50%;
  padding: 5%;
}

.contenedorCardServicios .cardServicios .contenido-card h1 {
  color: #6a49e4;
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 23px;
}

.contenedorCardServicios .cardServicios .contenido-card p {
  color: #353535;
  width: 85%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.82px;
  padding: 0 0 20% 0;
}

.contenedorCardServicios .cardServicios .contenido-card a {
  text-decoration: none;
  color: #6a49e4;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.24px;
}

.contenedorCardServicios .cardServicios .contenido-card a i {
  padding-left: 30px;
}

.contenedorCardServicios .cardServicios .contenido-card a:hover {
  border-bottom: solid 3px #6a49e4;
}

.titularesServicios {
  width: 80%;
  margin: 10% auto;
  border-bottom: 1px solid rgba(247, 183, 210, 0.3);
}

.titularesServicios .titServicios {
  margin: 70px auto;
  width: 90%;
}

.titularesServicios .titServicios h2 {
  color: #6a49e4;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: px;
}

.titularesServicios .titServicios p {
  color: #4d4d4d;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.path-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -60px auto 50px;
}

.carrouselService {
  margin: 150px auto;
}

.fondoServicios {
  position: absolute;
  right: 0%;
  bottom: -18.65%;
  z-index: -1;
}

.headerBlog {
  width: 100%;
  min-height: 95vh;
  background-image: url(../img/headerBlog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerBlog .tituloHeaderBlog {
  text-align: center;
  z-index: 1;
}

.headerBlog .tituloHeaderBlog h1, .headerBlog .tituloHeaderBlog h2 {
  color: #fafafa;
  left: 50%;
  top: 50%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 3.2em;
}

.headerBlog .tituloHeaderBlog h2 {
  font-size: 2em;
}

.headerBlog .botonHeaderBlog {
  z-index: 1;
  cursor: pointer;
  width: 15%;
  height: 50px;
  margin-top: 50px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid #fafafa 3px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #fafafa;
}

.headerBlog:before {
  content: '';
  width: 100%;
  min-height: 95vh;
  position: absolute;
  background: black;
  opacity: .3;
}

.mainBlog {
  margin: 0 auto;
  position: relative;
}

.mainBlog .main_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainBlog .main_title h2 {
  color: #6a49e4;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 100px;
}

.mainBlog .main_title h3 {
  margin-top: -60px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.mainBlog .contenedorBlog {
  margin: 3% auto 20%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainBlog .contenedorBlog .card {
  border-top: solid #b5a4f4 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainBlog .contenedorBlog .card .img-card {
  width: 50%;
  padding: 2.5%;
}

.mainBlog .contenedorBlog .card .img-card img {
  width: 100%;
  height: 300px;
}

.mainBlog .contenedorBlog .card .contenido-card {
  width: 50%;
  padding: 5%;
}

.mainBlog .contenedorBlog .card .contenido-card h1 {
  color: #6a49e4;
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 23px;
}

.mainBlog .contenedorBlog .card .contenido-card p {
  color: #353535;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.82px;
  padding: 10% 0;
}

.mainBlog .contenedorBlog .card .contenido-card a {
  text-decoration: none;
  color: #6a49e4;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.24px;
}

.mainBlog .contenedorBlog .card .contenido-card a i {
  padding-left: 40px;
}

.mainBlog .contenedorBlog .card .contenido-card a:hover {
  border-bottom: solid 3px #6a49e4;
}

.relative {
  position: relative;
}

.fondoBlog {
  position: absolute;
  right: 0%;
  bottom: -45%;
  z-index: -1;
}

.headerPreguntasFrec {
  width: 100%;
  min-height: 95vh;
  background-image: url(../img/pregunta_frecuente.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerPreguntasFrec .tituloHeaderPreguntasFrec {
  text-align: center;
  z-index: 1;
}

.headerPreguntasFrec .tituloHeaderPreguntasFrec h1 {
  color: #fafafa;
  left: 50%;
  top: 50%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 3em;
}

.headerPreguntasFrec .botonHeaderPreguntasFrec {
  z-index: 1;
  cursor: pointer;
  width: 15%;
  margin-top: 50px;
  padding: 1%;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid #fafafa 3px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #fafafa;
  text-align: center;
  text-decoration: none;
}

.headerPreguntasFrec .botonHeaderPreguntasFrec:hover {
  color: #6a49e4;
  border: solid #6a49e4 3px;
}

.headerPreguntasFrec::before {
  content: '';
  width: 100%;
  min-height: 95vh;
  position: absolute;
  background: black;
  opacity: .3;
}

.path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.path img {
  margin: 50px 0;
}

.mainPreguntasFrec {
  width: 75%;
  margin: 0 auto;
  position: relative;
}

.mainPreguntasFrec .main_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPreguntasFrec .main_title h2 {
  color: #6a49e4;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 100px;
}

.fondoMainPregFrec {
  position: absolute;
  right: -16.7%;
  bottom: -70%;
  z-index: -1;
}

.acordeonPregFrec {
  padding: 10%;
  margin-bottom: 100px;
}

.acordeonPregFrec input {
  display: none;
}

.acordeonPregFrec input:checked ~ .acordeon__contenido {
  height: auto;
  margin: 15px 0;
  padding: 2%;
}

.acordeon__titulo {
  display: block;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  padding: 15px;
  font-size: 20px;
  border-top: 1px #B5A4F44D solid;
}

.acordeon__titulo i {
  color: #353535;
  float: right;
}

.acordeon__titulo:hover {
  cursor: pointer;
  border: 2px solid #b5a4f4;
}

.acordeon__contenido {
  height: 0;
  overflow: hidden;
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  text-align: justify;
  line-height: 30px;
  -webkit-transition: all 0.09s ease-out;
  transition: all 0.09s ease-out;
}

.acordeon__contenido a {
  text-decoration: none;
  color: #6a49e4;
}

.borderBottom {
  border-bottom: 1px #B5A4F44D solid;
}

.tarjetaContactoPregFrec {
  z-index: 10;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tarjetaContactoPregFrec div {
  text-align: center;
  width: 50%;
}

.tarjetaContactoPregFrec div img {
  width: 100%;
  height: 100%;
}

.tarjetaContactoPregFrec .datosDeContactoPregFrec {
  background-color: #fafafa;
  border: #b5a4f4 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tarjetaContactoPregFrec .datosDeContactoPregFrec h3 {
  margin-bottom: 10%;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 25px;
  color: #6a49e4;
}

.tarjetaContactoPregFrec .datosDeContactoPregFrec ul {
  list-style: none;
}

.tarjetaContactoPregFrec .datosDeContactoPregFrec ul li {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 5%;
}

.tarjetaContactoPregFrec .datosDeContactoPregFrec ul li a {
  text-decoration: none;
  color: inherit;
}

.tarjetaContactoPregFrec .datosDeContactoPregFrec ul li a:hover {
  color: #6a49e4;
}

.tarjetaContactoPregFrec .datosDeContactoPregFrec ul .itemContacto4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tarjetaContactoPregFrec .datosDeContactoPregFrec ul .itemContacto4 a {
  margin: 10px;
}

.tarjetaContactoPregFrec .datosDeContactoPregFrec ul .itemContacto4 a img {
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.tarjetaContactoPregFrec .datosDeContactoPregFrec ul .itemContacto4 a img:hover {
  -webkit-box-shadow: 0px 0px 5px 5px #8f8f8f;
          box-shadow: 0px 0px 5px 5px #8f8f8f;
  border-color: #3000dd;
}

.footerPreguntasFrecuentes {
  background-color: #b5a4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fafafa;
}

.footerPreguntasFrecuentes .bar {
  padding-top: 50px;
}

.footerPreguntasFrecuentes .bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footerPreguntasFrecuentes .bar ul .item {
  list-style: none;
}

.footerPreguntasFrecuentes .bar ul .item a {
  text-decoration: none;
  color: #fafafa;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.footerPreguntasFrecuentes .bar ul .nombreFooter {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 20px;
  list-style: none;
}

.footerPreguntasFrecuentes .bar ul .nombreFooter p {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  letter-spacing: 5px;
}

.footerPreguntasFrecuentes .footerContent .izq {
  float: left;
  width: 15%;
  padding-left: 50px;
  margin-top: 50px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.footerPreguntasFrecuentes .footerContent .der {
  float: right;
  width: 11%;
}

.footerPreguntasFrecuentes .footerContent .der ul {
  list-style: none;
}

.footerPreguntasFrecuentes .footerContent .der ul li {
  line-height: 2em;
  font-size: 18px;
}

.footerPreguntasFrecuentes .footerContent .der ul li a {
  margin-right: 5px;
  text-decoration: none;
  color: #fafafa;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
}

.footerPreguntasFrecuentes .footerContent .der ul li a i {
  font-size: 18pt;
  letter-spacing: 9px;
}

.footerPreguntasFrecuentes .footerContent .der ul li a:hover {
  color: #6a49e4;
}

.footerPreguntasFrecuentes .copyright {
  padding: 30px;
  text-align: center;
}

.headerContacto {
  width: 100%;
  min-height: 110vh;
  background-image: url(../img/contacto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContacto .tituloHeaderContacto {
  text-align: center;
  z-index: 1;
}

.headerContacto .tituloHeaderContacto h1 {
  color: #fafafa;
  left: 50%;
  top: 50%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 3em;
}

.headerContacto .botonHeaderContacto {
  z-index: 1;
  cursor: pointer;
  width: 15%;
  margin-top: 50px;
  padding: 1%;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid #fafafa 3px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #fafafa;
  text-align: center;
  text-decoration: none;
}

.headerContacto .botonHeaderContacto:hover {
  color: #6a49e4;
  border: solid #6a49e4 3px;
}

.headerContacto:before {
  content: '';
  width: 100%;
  min-height: 110vh;
  position: absolute;
  background: black;
  opacity: .3;
}

#mainContacto {
  width: 100%;
  position: relative;
  min-height: 120vh;
}

#mainContacto .fondoMainContacto {
  position: absolute;
  right: 0%;
  bottom: -50%;
  z-index: -1;
}

.contenedorformulario {
  border: solid 2px #6a49e4;
  height: 80vh;
  width: 85%;
  margin: auto;
}

.contenedorformulario p {
  font-family: "Libre Franklin", sans-serif;
  font-size: 23PX;
  text-align: center;
  padding: 4%;
}

.contenedorformulario .formularioContacto {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedorformulario .formularioContacto input {
  font-family: "Libre Franklin", sans-serif;
  font-size: 23PX;
  margin-bottom: 20px;
  width: 49%;
  height: 50px;
  outline: none;
  border: 1px solid #6a49e4;
}

.contenedorformulario .formularioContacto input[type=number]::-webkit-inner-spin-button, .contenedorformulario .formularioContacto input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contenedorformulario .formularioContacto input:focus {
  border: 3px solid #6a49e4;
}

.contenedorformulario .formularioContacto input:active {
  border: 3px solid #6a49e4;
}

.contenedorformulario .formularioContacto textarea {
  font-family: "Libre Franklin", sans-serif;
  font-size: 23PX;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border: 1px solid #6a49e4;
  resize: none;
  outline: none;
}

.contenedorformulario .formularioContacto textarea:focus {
  border: 3px solid #6a49e4;
}

.contenedorformulario .formularioContacto textarea:active {
  border: 3px solid #6a49e4;
}

.contenedorformulario .formularioContacto button {
  font-family: "Libre Franklin", sans-serif;
  font-size: 23px;
  color: #6a49e4;
  width: 40%;
  margin: 10px auto;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.contenedorformulario .formularioContacto button:hover {
  border-bottom: solid 3px #6a49e4;
}

.contenedorformulario .formularioContacto button i {
  margin-left: 40px;
}

.contenedorformulario .formularioContacto .success {
  margin: 10px auto;
  text-align: center;
  color: #19f119;
}

.hidden {
  display: none;
}
