@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Bree+Serif&family=Libre+Franklin:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #fafafa;
}

.nav {
  width: 100%;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav ul .nombre {
  color: #6a49e4;
  text-align: center;
  line-height: 30px;
}

.nav ul .nombre p {
  font-size: 20px;
  font-family: 'roboto';
  font-weight: 200;
  letter-spacing: 5px;
}

.nav ul .nombre h2 {
  font-family: "Aleo", serif;
  font-size: 30px;
  font-weight: 400;
}

.nav ul .active {
  border-top: 5px solid #b5a4f4;
}

.nav ul li {
  height: 100%;
  padding: 31px;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #353535;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.ContenedorNavbarIndex nav {
  position: absolute;
  z-index: 1;
}

.ContenedorNavbarIndex nav ul li a {
  color: white;
}

.ContenedorNavbarIndex nav ul li h2 {
  color: white;
}

.ContenedorNavbarIndex nav ul li p {
  color: white;
}

.img100 {
  width: 100%;
  position: relative;
}

.headerPreguntasFrec {
  width: 100%;
  min-height: 95vh;
  background-image: url(../img/pregunta_frecuente.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerPreguntasFrec .tituloHeaderPreguntasFrec {
  text-align: center;
  z-index: 1;
}

.headerPreguntasFrec .tituloHeaderPreguntasFrec h1 {
  color: #fafafa;
  left: 50%;
  top: 50%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 3em;
}

.headerPreguntasFrec .botonHeaderPreguntasFrec {
  z-index: 1;
  cursor: pointer;
  width: 15%;
  height: 50px;
  margin-top: 50px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid #fafafa 3px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #fafafa;
}

.headerPreguntasFrec::before {
  content: '';
  width: 100%;
  min-height: 95vh;
  position: absolute;
  background: black;
  opacity: .3;
}

.headerPreguntasFrec {
  width: 100%;
  min-height: 95vh;
  background-image: url(../img/pregunta_frecuente.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerPreguntasFrec .tituloHeaderPreguntasFrec {
  text-align: center;
  z-index: 1;
}

.headerPreguntasFrec .tituloHeaderPreguntasFrec h1 {
  color: #fafafa;
  left: 50%;
  top: 50%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 3em;
}

.headerPreguntasFrec .botonHeaderPreguntasFrec {
  z-index: 1;
  cursor: pointer;
  width: 15%;
  height: 50px;
  margin-top: 50px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid #fafafa 3px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #fafafa;
}

.headerPreguntasFrec::before {
  content: '';
  width: 100%;
  min-height: 95vh;
  position: absolute;
  background: black;
  opacity: .3;
}

.mainPreguntasFrec {
  width: 75%;
  margin: 0 auto;
}

.mainPreguntasFrec .main_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPreguntasFrec .main_title img {
  margin: 80px 0 20px 0;
}

.mainPreguntasFrec .main_title h2 {
  color: #6a49e4;
  margin-bottom: 130px;
}

.fondo_main {
  float: right;
  position: relative;
}

.acordeon {
  margin-bottom: 100px;
}

.acordeon input {
  display: none;
}

.acordeon input:checked ~ .acordeon__contenido {
  height: auto;
  margin: 15px 0;
  padding: 2%;
}

.acordeon__titulo {
  display: block;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  padding: 15px;
  font-size: 20px;
  border-top: 1px #B5A4F44D solid;
}

.acordeon__titulo i {
  color: #353535;
  float: right;
}

.acordeon__titulo:hover {
  cursor: pointer;
  border: 2px solid #b5a4f4;
}

.acordeon__contenido {
  height: 0;
  overflow: hidden;
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  text-align: justify;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.borderBottom {
  border-bottom: 1px #B5A4F44D solid;
}
