.headerContacto {
    width: 100%;
    min-height: 110vh;
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .tituloHeaderContacto{
        text-align: center;
        z-index: 1;
        h1{
            color: $fondo;
            left:50%;
            top: 50%;
            font-family: $LibreFranklin;
            font-weight: 400;
            font-size: 2.5rem;

        }
    }
    .botonHeaderContacto {
        z-index: 1;
        cursor: pointer;
        width: 150px;
        margin-top: 50px;
        padding: 1%;
        background-color: transparent;
        box-shadow: none;
        border:solid $fondo 3px;
        font-family: $LibreFranklin;
        font-weight: 400;
        font-size: 1.3rem;
        color: $fondo;
        text-align: center;
        text-decoration: none;
        &:hover{
            color: $acentuacion;
            border:solid $acentuacion 3px;
        }
    }
    
    
}
.headerContacto:before {
    content: '';
    width: 100%;
    min-height: 110vh;
    position: absolute;
    background: rgb(0, 0, 0);
    opacity: .3;
}
#mainContacto{
    width: 100%;
    position: relative;
    height: 100%;
    padding-bottom: 50px;
    .fondoMainContacto{
        position:absolute;
        right: 0%; 
        bottom:-500px; 
        z-index: -1;
    }

}
.contenedorformulario{
    border: solid 2px $acentuacion;
    height: 100%;
    width: 85%;
    margin: auto;
    p{
        font-family: $LibreFranklin;
        font-size: 23PX;
        text-align: center;
        padding: 4%;
    }
    .formularioContacto{
        width: 75%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
       
        input{
            font-family: $LibreFranklin;
            padding-left:5px ;
            font-size: 1rem;
            margin-bottom:20px ;
            width: 49%;
            height: 50px;
            outline: none;
            border: 1px solid $acentuacion;
            &[type=number]::-webkit-inner-spin-button, 
            &[type=number]::-webkit-outer-spin-button { 
              -webkit-appearance: none; 
              margin: 0; 
            }
            &:focus{
                border: 3px solid $acentuacion;
            }
            &:active{
                border: 3px solid $acentuacion;
            }
        }
        textarea{
            font-family: $LibreFranklin;
            padding:5px ;
            font-size: 1rem;
            width: 100%;
            height: 150px;
            margin-bottom: 20px;
            border: 1px solid $acentuacion;
            resize: none;
            outline: none;
            &:focus{
                border: 3px solid $acentuacion;
            }
            &:active{
                border: 3px solid $acentuacion;
            }
        }
        button{
            font-family: $LibreFranklin;
            font-size: 1.2rem;
            color: $acentuacion;
            width: 200px;
            margin: 10px auto;
            border: none;
            background-color: inherit;
            cursor: pointer;
            &:hover{
                border-bottom: solid 3px $acentuacion;
            }
            i{
                margin-left: 40px;
            }
        }
        .success{
            margin: 10px auto;
            text-align: center;
            color: rgb(25, 241, 25);
        }
        
        
    }
}
.hidden{
    display: none;
}
@media (max-width: 800px) {

}
@media (max-width: 600px) {
    .contenedorformulario{
        height: auto;
        .formularioContacto input{
            width: 100%;
            height: 40px;
            font-size: 15px;
        }
        .formularioContacto textarea{
            height: 100px;
        }
    }
}