// ----------------- NavBar Titulos ----------------------
.ContenedorNavbarIndex nav{
   position: absolute;
   z-index: 1;
}

.ContenedorNavbarIndex nav ul li a{
    color: white;
 }

 .ContenedorNavbarIndex nav ul li h2{
    color: white;
 }

 .ContenedorNavbarIndex nav ul li p{
    color: white;
 }

.img100{
    width: 100%;
    height: 120vh;
    position: relative;
}

.contenedorIntro{
    position: absolute;
    z-index: 1;
    transform: translateY(200px);
}

.tituloIndex{
    font-family: $LibreFranklin;
    color: #fff;
    font-size: 2rem;
    margin-left: 10%;
    margin-bottom: 5%;
}

.subtituloIndex{
    font-family: $LibreFranklin;
    color: #fff;
    width: max-content;
    font-size: 3.8rem;
    font-weight: 600;
    margin-left: 10%;
    
}

.mrgB{
    margin-top: 15%;
}

//------------------- Header --------------------
.contenedorHeaderIndex{
    margin: 0 10%;
}

.tituloHeaderIndex{
    font-family: $aleo;
    font-size: 2rem;
    text-align: center;
    color: $acentuacion;
}

.mt{
    margin-top: 15%;
}

.subtituloHeaderIndex{
    font-family: $LibreFranklin;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2%;
}

.contenedorListaHeaderIndex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.imgHeaderIndex{
    width: 40%;
}

.listaHeaderIndex div{
    margin: 3% 15% 3% 0%;
    font-family: $LibreFranklin;
}

.contenedorFilaHeaderIndex{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.icoVerde{
    width: 10%;
    margin-right: 3%;
    background-color: #A6DBCB;
    border-radius: 50%;
}

.FondoVerdeIndex{
    position:absolute;
    right: 0px; 
    bottom:-60%; 
    z-index: -1;
}
//------------- Main ---------------------------
.contenedorMainIndex{
    display: flex;
    flex-direction: row;
    margin: 5% 10%;
    margin-bottom: 15%;
}
.contenedorTextoHeaderIndex p{
    margin: 0 5%;
    margin-bottom: 8%;
    font-family: $LibreFranklin;
    font-size: 1.2rem;
}

.letraVioleta{
    font-family: $aleo;
    color: $lilaPpal;
}

.seguirleyendo{
    margin-left: 5%;
    text-decoration: none;
    color: $acentuacion;
    font-family: $LibreFranklin;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.24px;
    i{
        padding-left: 40px;
    }
    &:hover{
        border-bottom: solid 3px $acentuacion;
    }
}

//-------------- carrusel ---------------------
.contenedorCarrusel{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10% 0;
}

.img1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgChica{
    width: 70%;
}

.imgGrande{
    width: 85%;
}

.flechaCarrusel{
    font-size: 3rem;
    color: $lilaPpal;
    margin: 0 5%;
}
//---------------- BLOG ------------------------
.contenedorBlogIndex1{
    display: flex;
    flex-direction: row-reverse;
    margin: 5% 10%;
}

.contenedorBlogIndex1 div{
    margin-right: 10%;
}

.tituloBlogIndex{
    font-family: $LibreFranklin;
    font-size: 1.3rem;
    margin-bottom: 8%;
}

.ver{
    color: $verde;
}

.ros{
    color: $rosaSec;
}

.parrafoBlogIndex{
    font-family: $LibreFranklin;
    margin-bottom: 8%;
    font-size: 1.1rem;
}


.contenedorBlogIndex2{
    display: flex;
    flex-direction: row;
    margin: 10% 10%;
}

.contenedorBlogIndex2 div{
    margin-left: 10%;
}
//-------------- tardeta contacto --------------
.fondoVioletaContactos{
    position: absolute;
    right: 0px;
    transform: translateY(-200px);
    z-index: -1;
}