.ContenedorNavbarIndex nav{
   position: absolute;
   z-index: 1;
}

.ContenedorNavbarIndex nav ul li a{
    color: white;
 }

 .ContenedorNavbarIndex nav ul li h2{
    color: white;
 }

 .ContenedorNavbarIndex nav ul li p{
    color: white;
 }

.img100{
    width: 100%;
    position: relative;
}