//==========Header===========//
.headerPreguntasFrec {
    width: 100%;
    min-height: 95vh;
    background-image: url(../img/pregunta_frecuente.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .tituloHeaderPreguntasFrec{
        text-align: center;
        z-index: 1;
        h1{
            color: $fondo;
            left:50%;
            top: 50%;
            font-family: $LibreFranklin;
            font-weight: 400;
            font-size: 3em;

        }
    }
    .botonHeaderPreguntasFrec {
        z-index: 1;
        cursor: pointer;
        width: 15%;
        height: 50px;
        margin-top: 50px;
        background-color: transparent;
        box-shadow: none;
        border:solid $fondo 3px;
        font-family: $LibreFranklin;
        font-weight: 400;
        font-size: 1.3em;
        color: $fondo;
    }
    
    
}
.headerPreguntasFrec::before {
    content: '';
    width: 100%;
    min-height: 95vh;
    position: absolute;
    background: rgb(0, 0, 0);
    opacity: .3;
}

//==========Main===========//
.path{
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        margin: 50px 0;
    }
}
.mainPreguntasFrec{
    width: 75%;
    margin: 0 auto;
    position: relative;
    .main_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: $acentuacion;
            font-family: $aleo;
            font-weight: 400;
            font-size: 30px;
            margin-bottom: 100px;
        }
    }
}
.fondoMainPregFrec{
    position:absolute;
    right: -16.7%; 
    bottom:-70%; 
    z-index: -1;
}
//===acordeon de preguntas====//
.acordeonPregFrec {
    padding:10% ;
    margin-bottom: 100px;
}
.acordeonPregFrec input{
    display: none;
    &:checked ~ .acordeon__contenido {
        height: auto;
        margin: 15px 0;
        padding: 2%;      
    }
}
.acordeon__titulo{
    display: block;
    font-family: $LibreFranklin;
    font-weight: 400;
    padding: 15px;
    font-size: 20px;
    border-top: 1px #B5A4F44D solid;
    i{
        color: $gris;
        float: right;
    }
    &:hover {
        cursor: pointer;
        border: 2px solid $lilaPpal;
    }
}
.acordeon__contenido {
    height: 0;
    overflow: hidden;
    margin: 0;
    font-family: $LibreFranklin;
    text-align: justify;
    transition: all 0.5s;
}
.borderBottom{
    border-bottom: 1px #B5A4F44D solid;
}
//=========Tarjeta contacto=========//
.tarjetaContactoPregFrec{
    z-index: 10;
    //width: 100vw;
    height: auto;
    display: flex;
    div{
        text-align: center;
        width: 50%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .datosDeContactoPregFrec{
        background-color: $fondo;
        border: $lilaPpal 2px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            margin-bottom: 10%;
            font-family: $aleo;
            font-weight: 400;
            font-size: 25px;
            color: $acentuacion;
        }
        ul{
            list-style: none;
            li{
                font-family: $LibreFranklin;
                font-weight: 300;
                font-size: 18px;
                margin: 5%;
                a{
                    text-decoration: none;
                    color: inherit;
                }
            }
            .itemContacto4{
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    margin:10px;
                }
            }
        }
    }
}

//========FOOTER=======// 

.footerPreguntasFrecuentes{
    background-color: $lilaPpal;
    display: flex;
    flex-direction: column;
    color: $fondo;
    .bar{
        padding-top: 50px;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .item{
                list-style: none;
                a{
                    text-decoration: none;
                    color: $fondo;
                    font-family: $LibreFranklin;
                    font-weight: 700;
                    font-size: 18px;                 
                }
            }
            .nombreFooter{
                font-family: $aleo;
                font-weight: 400;
                font-size: 20px;
                list-style: none;
                p{
                    font-family:sans-serif;
                    font-weight: 300;
                    font-size: 15px;
                    text-align: center;
                    letter-spacing: 5px;
                }
            }
        }
    }
  .footerContent{
        .izq{
            float: left;
            width: 15%;
            padding-left: 50px;
            margin-top: 50px;
            font-family: $LibreFranklin;
            font-weight: 400;
            font-size: 18px;  
        }
        .der{
            float: right;
            width: 11%;
            ul{
                list-style: none;
                li{
                    line-height: 2em;
                    font-size: 18px;                 

                    a{
                        margin-right: 5px;
                        text-decoration: none;
                        color: $fondo;
                        font-family: $LibreFranklin;
                        font-weight: 400;
                        i{
                            font-size: 18pt;
                            letter-spacing: 9px;
                        }
                    }
                }

            }
        }
    }
    .copyright{
        padding: 30px;
        text-align: center;
    }
}