.headerServicios {
    width: 100%;
    min-height: 95vh;
    background-image: url(../img/headerServicios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .tituloHeaderServicios{
        text-align: center;
        z-index: 1;
        h1{
            color: $fondo;
            left:50%;
            top: 50%;
            font-family: $LibreFranklin;
            font-weight: 400;
            font-size: 2.5em;
        }
    }
    .botonHeaderServicios {
        z-index: 1;
        cursor: pointer;
        width: 150px;
        margin-top: 50px;
        padding: 1%;
        background-color: transparent;
        box-shadow: none;
        border:solid $fondo 3px;
        font-family: $LibreFranklin;
        font-weight: 400;
        font-size: 1.3em;
        color: $fondo;
        text-align: center;
        text-decoration: none;
        &:hover{
            color: $acentuacion;
            border:solid $acentuacion 3px;
        }
    }
    
    
}
.headerServicios:before {
    content: '';
    width: 100%;
    min-height: 95vh;
    position: absolute;
    background: rgb(0, 0, 0);
    opacity: .3;
}

.iconosServicios{
    width: 60%;
    margin: 0 auto 5%;
    display: flex;
    justify-content: space-between;
    .divIcn{
        display: flex;
        flex-direction: column;
        img{
            width: 50%;
        } 
        img, h4{
            margin: 10px auto;
            text-align: center;
            font-family: $LibreFranklin;
            font-weight: 300;
            font-size: 18px;
        }
        h4{
            width: 150px;
        }
    }
    
}

.contenedorCardServicios{
    margin: 10% auto;
    width: 75%;
    align-items: center;
    justify-content: center;
    .cardServicios {
        display: flex;
        justify-content: center;
        .img-card{
            width: 50%;
            padding: 2.5%;
            img{
                width: 100%;
            }
        }
        .talleresImg{
            padding: 0%;
            display: flex;
            justify-content: stretch;
        }
        .contenido-card{
            width: 50%;
            padding: 5%;
            h1{
                color: $acentuacion;
                font-family: $aleo;
                font-weight: 700;
                font-size: 23px;
            }
            p{
                color: $gris;
                width: 85%;
                font-family: $LibreFranklin;
                font-weight: 300;
                font-size: 18px;
                line-height: 21.82px;
                padding: 0 0 20% 0;
            }
            a{
                text-decoration: none;
                color: $acentuacion;
                font-family: $LibreFranklin;
                font-weight: 400;
                font-size: 20px;
                line-height: 24.24px;
                i{
                    padding-left: 30px;
                }
                &:hover{
                    border-bottom: solid 3px $acentuacion;
                }
            }
        }
        .talleres{
            padding: 0%;
            p{
                width: 95%;
                padding: 0 0 5px;
                font-size: 14px;
                text-align: justify;
            }
        }
    }
}
.subtit{
    margin: 0% auto 5%;
    text-align: center;
    padding: 10px;
    font-size: .7rem;
}
.titularesServicios{
    width: 80%;
    margin:10% auto;
    .titServicios{
        margin:70px auto;
        width: 90%;
        h2{
            color: $acentuacion;
            font-family: $aleo;
            font-weight: 400;
            font-size: px;
        }
        p{
            color: #4d4d4d;
            font-family: $LibreFranklin;
            font-weight: 300;
            font-size: 18px;
        }
    }
    border-bottom: 1px solid rgba(247, 183, 210, 0.3);
}
.path-servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -60px auto 50px;
}
.carrouselService{
    margin: 150px auto;
}
.fondoServicios {
    position: absolute;
    right: 0%;
    bottom: -500px;
    z-index: -1;
}
@media (max-width: 800px){
    .iconosServicios{
        width: 95%;
        .divIcn{
            display: block;
            width: 40%;
            h4{
                display: none;
                width: 50%;
                font-size: .5rem;
            }
            img{
            margin: 0 auto;
                
            }
        } 
    }
    .contenedorCardServicios{
        width: 100%;
        .cardServicios{
            flex-direction: column-reverse;
            margin:0 auto;
            .img-card{
                margin: 0 auto;
                width: 95%;
            }
            .contenido-card {
                text-align: center;
                width: 95%;
                margin:0 auto;
               
    
            }
        }
    }
   
}