.headerSobreMi {
    width: 100%;
    min-height: 95vh;
    background-image: url('../img/headerSobremi.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .tituloHeaderSobreMi{
        text-align: center;
        z-index: 1;
        h1{
            color: $fondo;
            left:50%;
            top: 50%;
            font-family: $LibreFranklin;
            font-weight: 400;
            font-size: 2rem;

        }
    }   
}
.headerSobreMi::before {
    content: '';
    width: 100%;
    min-height: 95vh;
    position: absolute;
    background: rgb(0, 0, 0);
    opacity: .3;
}
.mainSobreMi {
    margin: 0 auto;
    position: relative;
    .main_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            color: $acentuacion;
            font-family: $aleo;
            font-weight: 400;
            font-size: 2.5rem;
            margin-bottom: 100px;
        }
    }
    .contenedorSobreMi{
        margin: 3% auto 10%;

        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 40vw;
            height: auto;
            float: left;
            padding: 5%;
        }
        p{
            color: $gris;
            font-family: $LibreFranklin;
            font-weight: 300;
            font-size: 16px;
            line-height: 2;
            padding: 2%;
        }
        
    }
    
    .fondoImgSobreMi{
        position:absolute;
        right: 0; 
        bottom: -500px; 
        z-index: -1;
    }
}

@media (max-width: 980px) {
    .nav ul li a{
        font-size: 1rem;
    }
}
@media (max-width: 885px) {
    .nav ul li a{
        font-size: .8rem;
    }
}
@media (max-width: 800px) {
    .nav ul li a{
        font-size: 1.8rem;
    }
}
@media (max-width: 600px) {
    .contenedorSobreMi p{
        text-align: justify;
        text-justify: auto;
    }
    p{
        font-size: xx-small;
    }
}