@import "colors";
@import "fonts";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: $fondo;
}

@import "navBar";
@import "header";
@import "main";
@import "preguntasFrecuentes";
