
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Bree+Serif&family=Libre+Franklin:wght@300;400;500;600;700&display=swap');
// FONTS
$aleo: 'Aleo', serif;
$bree: 'Bree Serif', serif;
$LibreFranklin: 'Libre Franklin', sans-serif;

//COLORES
$fondo: #fafafa;
$gris: #353535;
$acentuacion: #6a49e4;
$lilaPpal: #b5a4f4;
$rosaSec: #f7b7d2;

// detalles
$salmon: #fab2a3;
$verde: #a6dbcb;
$amarillo: #ead191;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: $fondo;
}



//------------------------------------ NavBar -------------------------------------------
.menu{
    width: 30px;
    display: none;
}


.nav{
    width: 100%;
    .imputMenu{
        display: none;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .nombre{
            color: $acentuacion;
            text-align: center;
            line-height: 30px;
            p{
                font-size: 20px;
                font-family: 'roboto';
                font-weight: 200;
                letter-spacing: 5px;
            }
            h2{
                font-family: $aleo;
                font-size: 30px;
                font-weight: 400;
            }
        }
        .active{
            border-top: 10px solid $lilaPpal;
        }
        li{
            height: 100%;
            padding: 31px;
            text-align: center;

            list-style: none;
            a {
                text-decoration: none;
                color: $gris;
                font-family: $LibreFranklin;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}

.flechaArriba{
    display: none;
}

@media (max-width: 800px){
    .nav{
        z-index: 1; 
        background-color: #ffff;   
        .navMenu{
            display: none;
            li{
                a{
                    color:black;
                    &:active, &:focus{
                        color: $acentuacion;
                    }
                }
            }
        }
        
        .nombre{
            display: none;
        }
    }
    
    .menu{
        display: block;
        margin: 2%;
    }
    
    #btn-menu:checked ~ .navMenu{
        display: flex;
    }

    .flechaArriba{
        display: block;
        width: 10%;
        padding: 15px;
        background-color: $lilaPpal;
        border-radius: 50%;
        margin: 5% auto;
    }

   .active{
       border-top: none !important;
   }

   .active a{
       color: $lilaPpal !important;
   }
    
}




@import "index";
@import "sobreMi";
@import "servicios";
@import "blog";
@import "preguntasFrecuentes";
@import "contacto";
